.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.banner {
    text-align: center;
    margin-bottom: 20px;
    
}


.banner img {
    width: 100%;
    height: 100%;
   
    object-fit: cover; /* Ajusta el posicionamiento de la imagen para cubrir el área */
}

.banner {
    position: relative; /* Establecer como elemento de posicionamiento para los elementos internos */
    
  }
  
  .banner img {
    width: 100%;
    height: 100%;
  }
  
  .title {
    display:flex;
    position: absolute; /* Posicionamiento absoluto */
    top: .5%; /* Centra verticalmente */
    left: 10%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centro */
    color: white; /* Color del texto */
    font-size: 3rem; /* Tamaño del texto */
    margin:10%;
    color:#cbd5e7;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  
  
  }

  .recuadros-container {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 8px;
    background-color: #f5f5f5;
        justify-content: space-between; /* Distribuye los elementos equitativamente */
        width: 100%; /* Ocupa todo el ancho disponible */
     
  }
  
  .recuadro {
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;

  width: 100%; /* Ocupa todo el ancho disponible */

  }
  
  .recuadro img {
 
   
    margin-bottom: 10px;
  }
  h1 {
    color: #f4dede;
    font-size: 2.5rem;
    margin-bottom: 20px;
    background-color: rgba(229, 229, 230, 0.2); 
}
