/* SaludFinanciera.css */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #007bff;
    
  }
  
  h2 {
    margin-top: 20px;
    color: #343a40;
  }
  
  .table {
    background-color: #ffffff;
    border: 1px solid #e9ecef;
    border-radius: 10px;
  }
  
  .table th,
  .table td {
    border: none;
    padding: 10px;
  }
  
  .table-danger {
    background-color: #f8d7da;
  }
  
  .btn-primary {
    background-color: #1bb864;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #b3003f;
  }
  
  .mb-3 {
    margin-bottom: 20px;
  }
  
  .text-end {
    text-align: end;
  }
  