
/* App.css */

/* Estilos para el navbar */
header {
  background-color: #f8f9fa; /* Color de fondo del navbar */
  border-bottom: 1px solid #e0e0e0; /* Borde inferior del navbar */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Borde sombreado */
  background-color: #ffffff;
  justify-content: center;
}



nav {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  padding: 10px 0;
  border: 1px solid #ddd;
 
}

nav ul {
  display: flex;
  list-style: none;
  margin-left:auto;
  padding: 0;
}


.navbar-toggler-icon {
  background-color: #83efb7 /* Color del ícono del botón del navbar */
}

.navbar-nav .nav-link {
  font-size: 16px; /* Tamaño de fuente de los enlaces del navbar */
  transition: font-size 0.2s, color 0.2s, background-color 0.2s; /* Transiciones suaves */
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  font-size: 18px; /* Tamaño de fuente cuando se pasa el cursor o está activo */
  color: #83efb7; /* Color de enlaces cuando se pasa el cursor o está activo */
  background-color: rgb(222, 226, 228); /* Fondo de color azul claro al pasar el cursor o está activo */
  /* border-radius: 50px; */
}

/* Cambia el tamaño del botón y el fondo al pasar el cursor sobre él */
.navbar-nav .nav-link:hover {
  transform: scale(1.05); /* Aumenta el tamaño del botón en un 5% */
 color: #83efb7; /* Fondo de color azul claro más claro al pasar el cursor */
 /* border-radius: 50px; */
}
/* main {
  margin-top: 20px; /* Ajusta el valor según el espacio deseado */
/* } */ */

h1{
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.navbar-logo {
  max-height: 30px; /* Ajusta el valor según tu preferencia */
  margin-left:5%;
  font-family: 'Black Ops One', cursive;
 

}
.navbar-brand{
  font-family: 'Black Ops One', cursive;
  font-size: 2em;
  color: grey;
 


}
/* .collapsed-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
} */
body{
  background-color: #f0f0f0; /* Color de fondo más claro */
    background-image: linear-gradient(to bottom, #f0f0f0, #9e9999); /* Degradado de grises */
  
}
footer{
  background-color: #f0f0f0; /* Color de fondo más claro */
  background-image: linear-gradient(to bottom,  #9e9999,#f0f0f0); /* Degradado de grises */

}